name: Auto Checkin

on:
  push:
    branches: [ main ]
    paths:
      - ".github/workflows/**"
      - "requirements.txt"
      - "main.py"
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  checkin:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    # - name: Install Chrome
      # run: |
        # sudo apt-get update
        # sudo apt-get install -y google-chrome-stable
        
    - name: Run auto checkin
      env:
        mtluntan: ${{ secrets.mtluntan }}
        ips: ${{ secrets.ips }}
      run: |
        python main.py
